/* screen - a2 */

.a2 {
  background-color: var(--white);
  height: 1024px;
  position: relative;
  width: 1440px;
}

.a2 .command {
  background-color: var(--eerie-black);
  height: 73px;
  left: 387px;
  position: absolute;
  top: 199px;
  width: 664px;
  color:  white;
}

.a2 .kubectl {
  font-weight: 500;
  left: 189px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 29px;
  white-space: nowrap;
}

.a2 .question-container {
  height: 375px;
  left: 533px;
  position: absolute;
  top: 324px;
  width: 375px;
}

.a2 .question-diamond {
  background-color: var(--lemon-yellow);
  height: 265px;
  left: 55px;
  position: absolute;
  top: 55px;
  transform: rotate(-45deg);
  width: 265px;
}

.a2 .question-text {
  font-weight: 500;
  left: 100px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 175px;
  white-space: nowrap;
}

.a2 .overlap-group1 {
  height: 73px;
  left: 387px;
  position: absolute;
  top: 752px;
  width: 216px;
}

.a2 .no-rectangle {
  background-color: var(--flush-mahogany);
  cursor: pointer;
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 216px;
}

.a2 .place {
  font-weight: 500;
  left: 98px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 29px;
  white-space: nowrap;
}

.a2 .yes {
  background-color: var(--emerald);
  cursor: pointer;
  height: 73px;
  left: 835px;
  position: absolute;
  top: 752px;
  width: 217px;
}

.a2 .yes-text {
  font-weight: 500;
  left: 95px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 29px;
  white-space: nowrap;
}
