/* screen - c6ay */

.c6ay {
  background-color: var(--white);
  height: 1024px;
  position: relative;
  width: 1440px;
}

.c6ay .start-over {
  background-color: var(--ocean-blue-pearl);
  cursor: pointer;
  height: 73px;
  left: 602px;
  position: absolute;
  top: 752px;
  width: 234px;
}

.c6ay .start-over-text {
  font-weight: 500;
  left: 73px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 29px;
  white-space: nowrap;
}

.c6ay .answer {
  background-color: var(--canary);
  height: 393px;
  left: 387px;
  position: absolute;
  top: 316px;
  width: 665px;
}

.c6ay .answer-text {
  font-weight: 500;
  left: 126px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 188px;
  white-space: nowrap;
}
